*.vscode
*.clang-format

*_pb2.py
!client/anna_client/anna/*_pb2.py
*.pyc
.coverage
*/__pycache__
build/*
log*


################################################################################
# C++
################################################################################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
